{% extends "_common.html" %}

{% block css %}

{# Libraries #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/navbar-fixed-side.min.css') }}">

{# Page CSS #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/garden.css') }}">

{% endblock %}

{% block js %}

{# Pass some information from Python --> JS #}
<script type="text/javascript">
var _GARDEN = {{garden_json | safe}};
var _PLANTS = {{plants_json | safe}};
</script>

{# Libraries #}
<script src="{{ url_for('static', filename='js/lib/bootstrap3-typeahead.min.js') }}"></script>

{# Page JS #}
<script src="{{ url_for('static', filename='js/garden.js') }}"></script>

{% endblock %}

{% block content %}
    {# Loading splash which will take up the whole page. Will only be removed 
     # once the page has finished loading.
     #}
    <div id="loading-splash"></div>

    <div class="row">
        {# The plant picker on the left; will be hidden on mobile. #}
        <div class="col-sm-0 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand">Plants</a>
                </div>
                <div id="navbar-plants" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav" id="plant-container">
                    {% for plant_name, plant in plants.iteritems()|sort %}
                        <li class="plant" id="{{ plant_name }}"><a>{{ plant_name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
          </nav>
        </div>

        {# The main garden display. #}
        <div class="col-sm-12 col-lg-10">
            <h1>{{ garden.name }} (view date: <span id="view-date-text">Today</span>)</h1>
            <div id="slot-bars">
                {# This vertical line class will ensure that the modified range
                 # selector will take up the whole width of the progress bars.
                 #}
                <div class="col-sm-12 col-md-12 col-lg-12 vertical-line">
                    <input type="range" min="-30" max="180" value="0" id="view-date" name="view-date" />
                </div>

                {# The actual progress bars being displayed. #}
                {% for slot in garden.slots %}
                    {% set slot_id = loop.index0 %}
                    <div class="progress">
                        {% for plant in slot %}
                            {% set progress = garden.ProgressFor(slot_id, loop.index0) %}
                            <div class="padding progress-bar" style="width: {{ progress[0] }}%"></div>
                            <div class="progress-bar {% if loop.index0 % 2 == 0 %}progress-bar-success{% endif %}" style="width: {{ progress[1] }}%">
                                {{ plant.name }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <br />

            <div id="error" style="display:none" class="alert alert-danger"></div>
            <div id="garden">
                {% for slot in garden.slots %}
                    {#
                        If the loop index is 0, this is the first row so add the first
                        row div. Otherwise, if we aren't on the first row and we are at
                        a width boundary, close the previous row tag and start a new
                        one.
                    #}
                    {% if loop.index0 == 0 %}
                        <div class="row">
                    {% elif loop.index0 % garden.width == 0 %}
                        </div><div class="row">
                    {% endif %}

                    {# Add the actual slot. #}
                    <div class="slot" id="slot-{{ loop.index0 }}">
                        <div class="sow">
                            <img src="{{ url_for('static', filename='img/icon/seeds.png') }}"></img>
                            <span></span>
                        </div>
                        <div class="growing">
                            <img src="{{ url_for('static', filename='img/icon/sprout.png') }}"></img>
                            <span></span>
                        </div>
                        <div class="harvest">
                            <img src="{{ url_for('static', filename='img/icon/harvest.png') }}"></img>
                            <span></span>
                        </div>
                        <div class="loading" style="display:none;">
                            <img src="/static/img/loading.gif" />
                        </div>
                        <div class="new" style="display:none;">
                            <img src="{{ url_for('static', filename='img/icon/seed.png') }}"></img>
                            <form>
                                <div class="form-group">
                                    <input style="display:none;" class="form-control" type="text" name="pick-plant" />
                                </div>
                            </form>
                        </div>
                    </div>

                    {# Add the final closing div tag. #}
                    {% if loop.index0 == garden.slots|length - 1 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
